<launch>
  <!-- NODO PARA ABRIR LA CAMARA-->
  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
  </node>
  
  <node pkg="tt2_pack" type="add_user.py" name="im_prepros_c"/>
  <param name="haar" value="$(find tt2_pack)/include/haarcascade_frontalface_default.xml" />
  <param name="blinkhaar" value="$(find tt2_pack)/include/CustomBlinkCascade.xml" />
  <param name="user_name" value="$(env User_name)" />

</launch>